@font-face {
    font-family: "Minecraft";
    src: url(Media/Fonts/Minecraft.ttf);
}
@font-face {
    font-family: "JetS";
    src: url(Media/Fonts/Jet_Set.ttf);
}
@font-face {
    font-family: "Hybrid";
    src: url(Media/Fonts/hybrid_o.ttf);
}
@font-face {
    font-family: "Eva";
    src: url(Media/Fonts/evangelion.ttf);
}
body {
    font-family: Arial, sans-serif;
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(Media/Images/aTrippyBackground.gif);
    background-size: 20%;
}
.flexcontainer1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    margin-bottom: 10x;
    border-style: inset;
    border-width: 10px;
    border-color: #12eb4c;
    padding: 10px;
    background-color: #251537ae;
}
.imgvw{
    width: auto;
    height: auto;
}
.imgstyle1{
    border-style: inset;
    border-width: 10px;
    border-color: #12eb4c;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    background-color: #ff42ff;
    margin-left: auto;
    margin-right: auto;
}
.txtblock1{
    border-style: inset;
    border-width: 10px;
    border-color: #12eb4c;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #251537;
}
.txtblock2{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 10px;
    border-color: #12eb4c;
    margin-bottom: 50px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #251537;
}
.list{
    margin-left: 20px;
    margin-right: 20px;
}
h1{
    text-align: center;
    font-family: Eva;
    color: #12eb4c;
}
h2{
    text-align: left;
    font-family: Eva;
    color: #12eb4c;
}
p{
    text-align: center;
    font-family: Eva;
    color: #12eb4c;
}
li{
    font-family: Eva;
    color: #12eb4c;
}